.playbar{
    position: fixed;
    bottom: 0px;
    background-color: grey;
    background-image: url("../../assets/images/playbar.png");
    background-position: 0px -6px;
    // background-repeat: repeat-x;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    .wrap{
        width: 980px;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        display: flex;
        .btns{
            display: flex;
            justify-content: space-between;
            height: 36px;
            align-items: center;
            i{
                height: 28px;
                width: 28px;
                display: block;
                background-image: url("../../assets/images/playbar.png");
                &.prv{
                    background-position: 0 -130px;
                    &:hover{
                      background-position: -30px -130px;
                    }
                }
                &.ply{
                    width: 36px;
                    height:36px;
                    background-position: 0px -204px;
                    &:hover{
                        background-position: -40px -204px;;
                      }
                    &.stp{
                        background-position: 0 -165px;
                        &:hover{
                            background-position: -40px -165px;
                          }
                    }
                }
                &.nxt{
                    background-position: -80px -130px;
                    &:hover{
                        background-position: -110px -130px;
                    }
                }
            }
        }
        .head{
            .mask{
                width: 36px;
                height: 37px;
                display: block;
                padding: 2px;
                background-image: url("../../assets/images/playbar.png");
                background-position: 1px -79px;
                img{
                    margin: 1.2px 1px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .play{
            height: 100%;
            width: 581px;
            .words{
                height: 28px;
                width: 581px;
                display: flex;
                align-items: center;
                a{
                    color: white;
                    margin: 0px 10px;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                .songLink{
                    display: block;
                    height: 15px;
                    width: 14px;
                    background-image: url("../../assets/images/playbar.png");
                    background-position: 42px -103px;
                    &:hover{
                        background-position: 22px -103px;
                    }
                }
            }
            .barwrap{
                display: flex;
                height: 14px;
                align-items: center;
                .barbg{
                    height: 9px;
                    width: 493px;
                }
                .time{
                    color: white;
                    margin: 0px 10px;
                    height: 14px;
                    line-height: 14px;
                    font-size: 100%;
                }
                
            }
        }
        .oper{
            width: 87px;
            height: 36px;
            display: flex;
            a{
                i{
                    margin: 11px 2px;
                    display: block;
                    height: 20px;
                    width: 20px;
                    background-image: url("../../assets/images/playbar.png");
                    &.pip{
                        background-position: 0px -55px;
                        &:hover{
                            background-position: -20px -55px;
                        }
                    }
                    &.add{
                        background-position: 60px -165px;
                        &:hover{
                            background-position: 60px -191px;
                        }
                    }
                    &.share{
                        background-position: 35px -165px;
                        &:hover{
                            background-position: 35px -191px;
                        }
                    }
                }
            }
        }
        .ctrl{
            height: 36px;
            width: 113px;
            position: relative;
            display: flex;
            a{
                i{
                    margin: 11px 2px;
                    display: block;
                    height: 20px;
                    width: 20px;
                    background-image: url("../../assets/images/playbar.png");
                    &.vol{
                        background-position: -5px -250px;
                        &:hover{
                            background-position: -34px -250px;
                        }
                    }
                    &.loop{
                        background-position: -5px -346px;
                        &:hover{
                            background-position: -35px -346px;
                        }
                    }
                    &.random{
                        background-position: -69px -250px;
                        &:hover{
                            background-position: -96px -250px;
                        }
                    }
                    &.single{
                        background-position: -68px -345px;
                        &:hover{
                            background-position: -95px -345px;
                        }
                    }

                    &.list{
                        height: 24px;
                        width: 59px;
                        background-position: -45px -70px;
                        &:hover{
                            background-position: -45px -100px;
                        }
                        .song-num{
                            margin-left: 30px;
                            color: white;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .volBar{
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 113px;
                top: -119px;
                left: -6px;
                background-image: url("../../assets/images/playbar.png");
                background-position: 0px bottom;
            }
        }
    }
    .updn{
        .locker{
            // margin-left: 50px;
            position: relative;
            display: flex;
            justify-content: center;
            right: -150px;
            top: -20px;
            background-image: url("../../assets/images/playbar.png");
            background-position: 0px -380px;
            width: 52px;
            height: 67px;
            i{
                background-image: url("../../assets/images/playbar.png");
                &.unlock{
                    display: block;
                    margin-top: 7px;
                    height: 15px;
                    width: 20px;
                    background-position: -78px -382px;
                    &:hover{
                        background-position: -78px -402px;
                    }
                }
                &.lock{
                    display: block;
                    margin-top: 7px;
                    height: 15px;
                    width: 20px;
                    background-position: -99px -382px;
                    &:hover{
                        background-position: -99px -402px;
                    }
                }
            }
        }
    }
}