<div class="playbar">
  <div class="wrap">
    <div class="btns">
      <a href="" class="prv">
        <i class="icon prv"></i>
      </a>
      <a href="" class="ply">
        <i class="icon ply"></i>
      </a>
      <a href="" class="nxt">
        <i class="icon nxt"></i>
      </a>
    </div>
    <div class="head">
      <a href="">
        <i class="mask">
          <img src="../../assets/images/singer.jpg" alt="">
        </i>
      </a>
    </div>
    <div class="play">
      <div class="words">
        <a class="sng">老友记</a>
        <a class="sing">李荣浩</a>
        <a href=""><i class="songLink"></i></a>
      </div>
      <div class="barwrap">
        <div class="barbg"></div>
        <span class="time">2:30/3:30</span>
      </div>
    </div>
    <div class="oper">
      <a href=""><i class="pip"></i></a>
      <a href=""><i class="add"></i></a>
      <a href=""><i class="share"></i></a>
    </div>
    <div class="ctrl">
      <a href=""><i class="vol"></i></a>
      <a href=""><i class="loop"></i></a>
      <a href=""><i class="list"><span class="song-num">1</span></i></a>
    </div>
  </div>  
  <div class="updn">
    <div class="locker"><i class="lock"></i></div>
  </div>
</div>