<div class="home">
  <div class="carousel-wrap">
    <i nz-icon nzType="left" nzTheme="outline" class="changebtn" (click)="pre()"></i>
    <nz-carousel nzAutoPlay class="carousel" [nzEffect]="'fade'" #NzCarouselComponent>
      <div nz-carousel-content *ngFor="let item of banners" class="banner-item">
          <a [href]="item.url">
            <img [src]="item.imageUrl"/>
          </a>
      </div>
    </nz-carousel>
    <i nz-icon nzType="right" nzTheme="outline" class="changebtn" (click)="next()"></i>
  </div>
  <div class="discover-wrap">
    <div class="discover-left">

      <div class="hot-wrap">

        <div class="hot-nav">
          <div class="hot-re">
            <i class="circle-icon"></i>
            <h3>热门推荐</h3>
            <nav>
              <a *ngFor="let item of hotTags" href="">{{item.name}}</a>
            </nav>
          </div>
          <div class="hot-more">
            <a href="">更多</a>
            <i nz-icon nzType="arrow-right" nzTheme="outline" style="color: red; font-size: 10px;"></i>
          </div>
        </div>

        <div class="hot-content">
          <ng-container *ngFor="let item of personalized">
            <app-singleSheet [personalized]="item" class="hot"></app-singleSheet>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="discover-right"></div>
  </div>
</div>