.carousel-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  .changebtn{
    font-size: 60px;
    color: white;
  }
  .carousel{
    height: 400px;
    width: 1200px;
    .banner-item{
      // background-color: aqua;
      width: 400px;
      display: flex;
      justify-content: space-around;
      overflow: hidden;
    }
  }
}
.home{
  background-color: rgb(0, 0, 20);
  ;
}